<% if flash[:alert] || flash[:error] %>
  <div id="error_message" class='login_flash_message login_flash_message--error'><%= flash[:alert] || flash[:error] %></div>
<% end %>
<% user = User.where(confirmation_token: params[:em]).first if params[:em] %>
<% email = user.email if user %> 
<%= form_for(:user, url: set_password_path, html: {class: "new_user"}) do |f| %>
  <table class="login-form__table">
    <th>Set your Password here</th>
     <tr>
       <td><%= f.text_field :email, class: "login-form__input", placeholder: "Email:", value: email %></td>
     </tr>
    <tr>
      <td><%= f.password_field :password, class: "login-form__input", placeholder: "New Password:" %></td>
    </tr>
    <tr>
      <td><%= f.password_field :password_confirmation, class: "login-form__input", placeholder: "Confirm new password:" %></td>
    </tr>
    <tr>
      <td>
        <%= f.submit 'Set password', class: "login__btn" %>
      </td>
    </tr>
   </table>
<% end %>

<script language="javascript" type="text/javascript">
  $(document).on('ready', function(e) {
     document.getElementById("user_email").focus();
   });
</script>